@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 21.8% 81.4%;

    --primary: 222.2 0% 11.2%;
    --primary-foreground: 0 0% 0%;

    --secondary: 246 20% 22%;
    --secondary-foreground: 0 0% 100%;

    --accent: 201 100% 39%;
    --accent-foreground: 243 75% 59%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;

    --ring: 217.2 32.6% 17.5%;
  }
}

@layer base {
  html {
    scroll-behavior: smooth;
    font-family: "TT Firs Neue Trl", system-ui, sans-serif;
  }
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
.control-dots {
  bottom: -10px !important;
}
.gradient-section {
  background: linear-gradient(
    90deg,
    rgba(211, 175, 255, 0.4) 0%,
    #f3ebff 48.2%,
    rgba(158, 98, 254, 0.4) 100%
  );
}
.gradient-footer {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(222, 214, 255, 1),
    rgba(122, 95, 225, 1),
    rgba(122, 95, 225, 1),
    rgba(222, 214, 255, 1)
  );
}
.container-xl {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}
.slider-wrapper {
  @apply md:!w-[75%] lg:!w-3/5;
}
svg:has(> path[d="M21 12a9 9 0 1 1-6.219-8.56"]) {
  @apply animate-spin;
}
